
.main {
    width: 100%;
    height: 100vh;
    background-color: #00523F;
    /* border-radius: 80px; */
}

.border {
    width: 500px;
    height: 500px;
    margin-left: 60px;
    margin-top: 50px;


}



.login-box {
    position: absolute;
    top: 48%;
    left: 20%;
    width: 400px;
    height: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
    
}

.login-box .user-box1 {
    position: relative;
}

.login-box .user-box2 {
    position: relative;
}

.login-box .user-box1 input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #FFC42A;
    outline: none;
    background: transparent;
}

.login-box .user-box2 input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #e8e5de;
    outline: none;
    background: transparent;
}

.login-box .user-box1 label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box2 label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}


.login-box .user-box1 input:focus~label,
.login-box .user-box2 input:valid~label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

.img-1 {
    width: 80%;
}

.head-1 {
    font-family: "Jaini Purva", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 50px;
}

.link-1 {
    color: white;
    text-decoration: none;
    margin-left: 195px;
}

.btn {
    width: 320px;
}

.btn-content {
    font-weight: 500;
    color: #00523F;
}

.image-section {
    position: relative;
}

.img-2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.img-3 {
    width: 17%;
    position: absolute;
    margin-left: 70px;
}

.img-4 {
    width: 40%;
    position: absolute;
    margin-top: 160px;
    margin-left: 100px;
}

/* Responsive Design */
@media screen and (max-width:1030px) {
    .head-1 {

        font-size: 110px;

    }

    .img-1 {
        width: 200%;
        margin-left: -150px;
    }

    .login-box {
        position: absolute;
        top: 30%;
        left: 50%;
       
    }

    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;

    }

    .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .image-section {
        display: none;
    }

}

@media screen and (max-width:450px) {
    .head-1 {
        font-size: 60px;
    }

    .login-box {
        position: absolute;
        top: 60%;
        left: 80%;
    }

    .image-section {
        display: none;
    }

    .link-1 {
        margin-left: 160px;
    }
   
}